extends layout/main
block variables
   - var pageTitle = "Fake Stomatology";
block content
   section.hero
      .wrapper
         .hero__content
            .hero__ad
               h1.hero__ad-title Стоматология премиум-класса
               .hero__ad-text.generic-content-container.
                  "Den's Dent" - это сеть семейных клиник, ориентированных на высокотехнологичные методы лечения, имплантации и протезирования зубов
               .hero__ad-btn-block
                  a#hero-book-btn.hero__book-btn.btn(href='#book-appointment-section') Записаться на прием
                  a.hero__price-btn.btn(href='/') Узнать цены
   section.offers-section.page-section
      .wrapper
         .heading-block
            h1.heading-block__title Акции
         .offers-section__offers-list 
            .glide.glide--offers
               .glide__track(data-glide-el='track')
                  .glide__slides
                     each offer, index in offers
                        .glide__slide
                           a.offers-section__special-offer(
                              class=`offers-section__special-offer--${index}`,
                              href='/'
                           ) 
                              .offers-section__offer-image-wrapper
                                 picture
                                    source(
                                       type='image/webp',
                                       srcset=`./assets/images/offers/offer_${index}.webp 650w, ./assets/images/offers/offer-hi-dpi_${index}.webp 1300w`,
                                       sizes='650px'
                                    )
                                    img.offers-section__offer-image(
                                       srcset=`./assets/images/offers/offer_${index}.jpg 650w, ./assets/images/offers/offer-hi-dpi_${index}.jpg 1300w`,
                                       sizes='650px',
                                       alt='Специальное предложение'
                                    )
                              .offers-section__offer-content
                                 .offers-section__offer-title= offer.title
                                 .offers-section__old-offer #{offer.oldOffer} &#8381;
                                 .offers-section__new-offer #[span #{offer.newOffer} &#8381;]
                                 .offers-section__expiration-date #[i.far.fa-calendar-alt.offers-section__calendar-icon] Акция действует до #{offer.expirationDate}
                                 .offers-section__btn-block 
                                    .offers-section__btn.btn.btn--big Подробнее
               .glide__arrows(data-glide-el='controls')
                  button.glide__arrow.glide__arrow--left(
                     data-glide-dir='<',
                     aria-label='Стрелка влево'
                  ) #[i.fas.fa-chevron-left]
                  button.glide__arrow.glide__arrow--right(
                     data-glide-dir='>',
                     aria-label='Стрелка вправо'
                  ) #[i.fas.fa-chevron-right]
   section.services-section.page-section
      .wrapper
         .heading-block 
            h1.heading-block__title Наши услуги
            .heading-block__subtitle Основные направления деятельности нашей клиники
         .services-section__services-list
            .row.row--wrap
               each service in servicesList
                  .row__col-smallest-12.row__col-S-6.row__col-L-4
                     .services-section__service-item
                        a.services-section__service-item-content(href='/')
                           .services-section__service-icon(
                              style=`background-image: url("./assets/images/services/${service.alias}.svg");`
                           )
                           .services-section__service-title= service.title
         .services-section__full-list-btn-block
            a.btn.services-section__details-btn(href='/') Подробный список услуг
   section.about-us-section.page-section
      .wrapper
         .about-us-section__content 
            .row.row--wrap.row--wrap-b-margin
               .row__col-smallest-12.row__col-L-7.row__col-XL-7
                  .about-us-section__text-block.generic-content-container
                     .heading-block 
                        h1.heading-block__title.about-us-section__title Коротко о нашей клинике
                     p Каждый желает иметь здоровые и крепкие зубы. Но далеко не все могут похвастать их наличием, виной чему целый ряд деструктивных и провоцирующих факторов. Но не стоит отчаиваться – мастера клиники «Den's Dent» помогут решить все Ваши проблемы и в кратчайшие сроки восстановят первозданную белизну Ваших зубов, их силу и красоту Вашей улыбки.
                     p Мы исповедуем комплексный подход к клиентам и всегда действуем с полным учетом всех их потребностей и предложений. Это позволяет нам добиваться потрясающих успехов в лечении и гарантирует результат, который соответствует ожиданиям нашего клиента и его пожеланиям.
                     p Доверьте свои зубы профессионалам стоматологической клиники «Den's Dent».
               .row__col-smallest-12.row__col-L-5.row__col-XL-5
                  .about-us-section__image-wrapper
                     picture
                        source(
                           type='image/webp',
                           srcset='./assets/images/about-us.webp 600w, ./assets/images/about-us-hi-dpi.webp 1200w',
                           sizes='600px'
                        )
                        img.about-us-section__image(
                           srcset='./assets/images/about-us.jpg 600w, ./assets/images/about-us-hi-dpi.jpg 1200w',
                           sizes='600px',
                           alt='О нас'
                        )

   section.team-section.page-section
      .wrapper
         .heading-block 
            h1.heading-block__title Лучшая команда врачей
            .heading-block__subtitle Главная гордость нашей клиники – это команда профессионалов
         .team-section__team-members-block
            .glide.glide--team-members
               .glide__track(data-glide-el='track')
                  .glide__slides
                     each member in teamMembers
                        .glide__slide 
                           .team-section__team-member
                              .team-section__member-image-wrapper
                                 picture
                                    source(
                                       type='image/webp',
                                       srcset=`./assets/images/team/${member.imgName}_01.webp 300w, ./assets/images/team/${member.imgName}-hi-dpi_01.webp 600w`,
                                       sizes='300px'
                                    )
                                    img.team-section__member-image(
                                       srcset=`./assets/images/team/${member.imgName}_01.jpg 300w, ./assets/images/team/${member.imgName}-hi-dpi_01.jpg 600w`,
                                       sizes='300px',
                                       alt='Портрет врача'
                                    )
                              .team-section__member-content
                                 .team-section__member-fullname: a(href='/') #[span.team-section__member-surname= member.surName] #[span.team-section__name-n-patronymic= member.namePatronymic]
                                 .team-section__member-descr= member.descr
                                 .team-section__member-experience #[span Стаж:] #{member.experience}
                              .team-section__show-details-block 
                                 a.team-section__details-btn.btn(href='/') Подробнее о враче
               .glide__arrows(data-glide-el='controls')
                  button.glide__arrow.glide__arrow--left(
                     data-glide-dir='<',
                     aria-label='Стрелка влево'
                  ) #[i.fas.fa-chevron-left]
                  button.glide__arrow.glide__arrow--right(
                     data-glide-dir='>',
                     aria-label='Стрелка вправо'
                  ) #[i.fas.fa-chevron-right]
   section#book-appointment-section.book-appointment-section.page-section
      .wrapper
         .book-appointment-section__content
            .book-appointment-section__formbox
               .heading-block 
                  h1.heading-block__title.book-appointment-section__title Запись на прием
               form#book-appointment.book-appointment-section__form.form(novalidate)
                  .row.row--wrap 
                     .row__col-smallest-12.row__col-S-6
                        .book-appointment-section__name-block
                           input#ba-fname(
                              name='ba-fname',
                              type='text',
                              placeholder='Ваше имя *',
                              autocomplete='off',
                              aria-label='Ваше имя'
                           )
                     .row__col-smallest-12.row__col-S-6 
                        .book-appointment-section__phone-block
                           input#ba-phone(
                              name='ba-phone',
                              type='tel',
                              placeholder='Ваш номер телефона *',
                              autocomplete='off',
                              aria-label='Ваш номер телефона'
                           )
                  .row.row--wrap 
                     .row__col-smallest-12.row__col-S-6 
                        .book-appointment-section__callback-time-block
                           select#ba-callback-time(
                              name='ba-callback-time',
                              aria-label='Время для звонка'
                           )
                              option(value='') -- Время для звонка --
                              option(value='9:00-11:00') 9:00 - 11:00
                              option(value='11:00-13:00') 11:00 - 13:00
                              option(value='13:00-17:00') 13:00 - 17:00
                              option(value='17:00-20:00') 17:00 - 20:00
                              option(value='20:00-22:00') 20:00 - 22:00
                     .row__col-smallest-12.row__col-S-6 
                        .book-appointment-section__office-address-block
                           select#ba-office-address(
                              name='ba-office-address',
                              aria-label='Адрес клиники'
                           )
                              option(value='') -- Адрес клиники --
                              each office in offices 
                                 option(value=office.subway) Клиника м. #{office.subway}
                  .row.row--wrap 
                     .row__col-smallest-12
                        .book-appointment-section__submit-block
                           button#ba-submit.book-appointment-section__submit-btn.btn.btn--big(
                              type='submit',
                              form='book-appointment',
                              formnovalidate
                           ) Записаться
      include modules/callback-modal
      include modules/sent-message-modal
   section#map-section.map-section.page-section
      .wrapper
         .heading-block 
            h1.heading-block__title Контакты
            .heading-block__subtitle Филиалы наших клиник в Москве
         .map-block
            .map-block__subway-block
               ul.map-block__subway-list
                  each office in offices
                     li.map-block__subway-list-item(data-office-to-show=`${office.id}`): button м. #{office.subway}
         .map-block__contact-info
            .row.row--wrap-reverse
               .row__col-smallest-12.row__col-M-6.row__col-L-5
                  .map-block__descr.generic-content-container
                     each office in offices
                        .map-block__descr-content(
                           id=`${office.id}`,
                           data-coord=`${office.coordinates}`
                        )
                           .map-block__title.
                              #[span Стоматология] #[br]
                              #[+subwayIcon(office.id)] #{office.subway}
                           .map-block__address #{office.address}
                           .map-block__office-hours #[span Приходите к нам] #[br] #{office.officeHours}
                           .map-block__phone.
                              #[span Звоните круглосуточно] 
                              #[br]  
                              #[a(href=`tel:${office.phoneNumber.replace(/\s/g, "")}`) #{office.phoneNumber}] 
                           .map-block__email: a(href=`mailto:${office.email}`) #{office.email}
               .row__col-smallest-12.row__col-M-6.row__col-L-7
                  #y-map.map-block__map 
