include ../base/variables
include ../base/mixins
header.header.header--is-visible
   .header__top-section
      .wrapper
         .row.row--content-v-centered 
            .row__col-smallest-2.row__col-M-none
               .header__menu-button-block
                  button.header__menu-button(aria-label='меню'): i.fas.fa-bars
            .row__col-smallest-8.row__col-M-4.row__col-XL-3
               .header__logo
                  a(href='/') 
                     img.logo(src=`./assets/images/logo.svg`, width='200', alt='лого')
            .row__col-smallest-none.row__col-L-4.row__col-XL-4
               .header__our-clinics.
                  #[span.header__clinics-count: a(href='#map-section') #{offices.length} клиники] в Москве 
                  #[a(href='#map-section'): i.fas.fa-map-marker-alt.header__clinics-pin-icon]
            .row__col-smallest-none.row__col-XL-3
               .header__social-media
                  include ../modules/social-media
            .row__col-smallest-none.row__col-M-4.row__col-XL-2
               .header__phone.phone-block
                  .phone-block__comment Звоните круглосуточно
                  .phone-block__number: a(href=`tel:${phoneNumber.replace(/\s/g, "")}`)= phoneNumber
            .row__col-smallest-2.row__col-M-none
               .header__phone-icon
                  a(href=`tel:${phoneNumber.replace(/\s/g, "")}`): i.fas.fa-phone-alt
            .row__col-smallest-none.row__col-M-4.row__col-XL-none
               .header__top-clbk-block: button.btn.callback-btn= callbackBtnText
   .header__nav-section
      .wrapper
         .row.row--content-v-centered
            .row__col-S-12.row__col-XL-10
               nav.header__nav-bar
                  ul.main-menu
                     each item in navLinks
                        if (item.hasSubMenu)
                           li.main-menu__item(id=`menu-${item.id}`): a(href='/') #{item.link}#[i.fas.fa-sort-down.main-menu__submenu-icon]
                        else
                           li.main-menu__item: a(href='/')= item.link
            .row__col-smallest-none.row__col-XL-2
               .header__navbar-clbk-block: button.btn.callback-btn= callbackBtnText
.header-menu-dropdown
   .wrapper 
      .row.row--gutters.row--wrap.row--wrap-b-margin
         each field in servicesList
            .row__col-smallest-12.row__col-M-6.row__col-L-4
               .header-menu-dropdown__content
                  h1.header-menu-dropdown__field-title: a(href='/')= field.title
                  ul.header-menu-dropdown__field-list
                     each service in field.items
                        li.header-menu-dropdown__field-item: a(href='/')= service
.mobile-nav
   ul.mobile-nav__menu
      each item in navLinks
         if (item.hasSubMenu)
            li.mobile-nav__menu-item(id=`mobile-menu-${item.id}`)
               a #{item.link}#[i.fas.fa-angle-down.mobile-nav__arrow-icon]
               ul.mobile-nav__submenu 
                  each field in item.submenu
                     li.mobile-nav__submenu-field  #[a(href='/') #{field.title}]
                        ul.mobile-nav__submenu-field-list
                           each fieldItem in field.items
                              li.mobile-nav__submenu-field-item: a(href='/') #{fieldItem}
         else
            li.mobile-nav__menu-item: a(href='/')= item.link
      button.mobile-nav__close
