extends layout/main
block variables
   - var pageTitle = "Fake Stomatology";
block headStyles
   link(rel='stylesheet', href='./assets/styles/styles.css')
   link(
      href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic',
      rel='stylesheet'
   )
   link(rel='icon', type='image/png', href='./assets/images/favicon.png')
block content
   .hero
      .wrapper
         .hero__content
            .hero__ad
               h1.hero__ad-title Стоматология премиум-класса
               .hero__ad-text.generic-content-container.
                  "Den's Dent" - это сеть семейных клиник, ориентированных на высокотехнологичные методы лечения, имплантации и протезирования зубов
               .hero__ad-btn-block
                  button.hero__ad-btn.btn.btn--cta-shadowed.btn--bold Записаться на прием
                  button.hero__ad-btn.btn.btn--outlined-white Узнать цены
   .offers-section.page-section
      .wrapper
         .heading-block
            h1.heading-block__title Акции
         .offers-section__offers-list 
            .glide.glide--offers
               .glide__track(data-glide-el='track')
                  .glide__slides
                     each offer in offers
                        .glide__slide 
                           .offers-section__special-offer
                              .offers-section__offer-image(
                                 class=`offers-section__offer-image--${offer.alias}`
                              ) 
                              .offers-section__offer-content
                                 .offers-section__offer-title= offer.title
                                 .offers-section__old-offer #{offer.oldOffer} &#8381;
                                 .offers-section__new-offer #[span #{offer.newOffer} &#8381;]
                                 .offers-section__expiration-date #[i.far.fa-calendar-alt.offers-section__calendar-icon] Акция действует до #{offer.expirationDate}
                                 .offers-section__btn-block 
                                    a.btn.btn--white.btn--big Подробнее
               .glide__arrows(data-glide-el='controls')
                  button.glide__arrow.glide__arrow--left(data-glide-dir='<') #[i.fas.fa-chevron-left]
                  button.glide__arrow.glide__arrow--right(data-glide-dir='>') #[i.fas.fa-chevron-right]
   .services-section.page-section
      .wrapper
         .heading-block 
            h1.heading-block__title Наши услуги
            .heading-block__subtitle Основные направления деятельности нашей клиники
         .services-section__services-list
            .row.row--wrap
               each service in servicesList
                  .row__col-smallest-12.row__col-S-6.row__col-L-4
                     .services-section__service-item
                        a.services-section__service-item-content(href='#')
                           .services-section__service-icon
                           .services-section__service-title= service.title
         .services-section__full-list-btn-block
            a.btn.btn--accent-color Подробный список услуг
   .about-us-section.page-section
      .wrapper
         .about-us-section__content 
            .row.row--wrap.row--wrap-b-margin
               .row__col-smallest-12.row__col-L-7.row__col-XL-7
                  .about-us-section__text-block.generic-content-container
                     .heading-block 
                        h1.heading-block__title.about-us-section__title Коротко о нашей клинике
                     p Каждый желает иметь здоровые и крепкие зубы. Но далеко не все могут похвастать их наличием, виной чему целый ряд деструктивных и провоцирующих факторов. Но не стоит отчаиваться – мастера клиники «Den's Dent» помогут решить все Ваши проблемы и в кратчайшие сроки восстановят первозданную белизну Ваших зубов, их силу и красоту Вашей улыбки.
                     p Мы исповедуем комплексный подход к клиентам и всегда действуем с полным учетом всех их потребностей и предложений. Это позволяет нам добиваться потрясающих успехов в лечении и гарантирует результат, который соответствует ожиданиям нашего клиента и его пожеланиям.
                     p Доверьте свои зубы профессионалам стоматологической клиники «Den's Dent».
               .row__col-smallest-12.row__col-L-5.row__col-XL-5
                  .about-us-section__image
   .team-section.page-section
      .wrapper
         .heading-block 
            h1.heading-block__title Лучшая команда врачей
            .heading-block__subtitle Главная гордость нашей клиники – это команда профессионалов
         .team-section__team-members-block
            .glide.glide--team-members
               .glide__track(data-glide-el='track')
                  .glide__slides
                     each member in teamMembers
                        .glide__slide 
                           .team-section__team-member
                              .team-section__member-portrait
                                 img(
                                    src=`../assets/images/team/${member.imgName}.png`,
                                    alt='Портрет врача'
                                 )
                              .team-section__member-content
                                 .team-section__member-fullname: a(href='#') #[span.team-section__member-surname= member.surName] #[span.team-section__name-n-patronymic= member.namePatronymic]
                                 .team-section__member-descr= member.descr
                                 .team-section__member-experience #[span Стаж:] #{member.experience}
                              .team-section__show-details-block 
                                 a.btn Подробнее о враче
               .glide__arrows(data-glide-el='controls')
                  button.glide__arrow.glide__arrow--left(data-glide-dir='<') #[i.fas.fa-chevron-left]
                  button.glide__arrow.glide__arrow--right(data-glide-dir='>') #[i.fas.fa-chevron-right]
   .book-appointment-section.page-section
      .wrapper
         .book-appointment-section__content
            .book-appointment-section__formbox
               .heading-block 
                  h1.heading-block__title.book-appointment-section__title Бесплатная консультация врача
               form#book-appointment.book-appointment-section__form.form(
                  novalidate
               )
                  .row.row--wrap 
                     .row__col-smallest-12.row__col-S-6
                        .book-appointment-section__name-block
                           input#ba-fname(
                              name='ba-fname',
                              type='text',
                              placeholder='Ваше имя *',
                              autocomplete='off'
                           )
                     .row__col-smallest-12.row__col-S-6 
                        .book-appointment-section__phone-block
                           input#ba-phone(
                              name='ba-phone',
                              type='tel',
                              placeholder='Ваш номер телефона *',
                              autocomplete='off'
                           )
                  .row.row--wrap 
                     .row__col-smallest-12.row__col-S-6 
                        .book-appointment-section__callback-time-block
                           select#ba-callback-time(name='ba-callback-time')
                              option(value='') -- Время для звонка --
                              option(value='9:00-11:00') 9:00 - 11:00
                              option(value='11:00-13:00') 11:00 - 13:00
                              option(value='13:00-17:00') 13:00 - 17:00
                              option(value='17:00-20:00') 17:00 - 20:00
                              option(value='20:00-22:00') 20:00 - 22:00
                     .row__col-smallest-12.row__col-S-6 
                        .book-appointment-section__office-address-block
                           select#ba-office-address(name='ba-office-address')
                              option(value='') -- Адрес клиники --
                              each office in offices 
                                 option(value=office.subway) Клиника м. #{office.subway}
                  .row.row--wrap 
                     .row__col-smallest-12
                        .book-appointment-section__submit-block
                           button#ba-submit.book-appointment-section__submit-btn.btn.btn--cta-shadowed.btn--big(
                              type='submit',
                              form='book-appointment'
                           ) Записаться на прием
      include modules/callback-modal
      include modules/sent-message-modal
block bottomScripts
   script(src='./assets/scripts/js/bundle.js')
